body {
    color: #022b31;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container-fluid {
    background-image: url("../images/paper.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    opacity: 95%;
}

.row {
    margin: 0;
}

#header {
    background-color: #045562;
    opacity: 85%;
    padding: 2.5%;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px #022b31;
}

.header-logo {
    border-radius: 100%;
    opacity: 100%;
}

.header-title-container {
    margin: auto;
}

.header-title {
    color: #e8ded2;
    opacity: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    margin: auto;
    padding-top: 10px;
}

#navi {
    background-color: #056b7a;
    opacity: 85%;
    padding: 10px;
    border-radius: 0 0 4px 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    background-color: #045562;
    border-radius: 4px;
    color: #a3d2ca;
    display: inline;
    padding: 3px 7px;
    margin: 5px;
    box-shadow: 1px 2px 2px #034049;
}

li:hover {
    background-color: #022b31;
    cursor: pointer;
}

#main-body {
    padding: 7%;
}