body {
    color: #022b31;
    background-image: url("../images/paper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.container-fluid {
    
    height: 100%;
    
    padding: 0;
}

.row {
    margin: 0;
}

#header {
    background: rgba(4, 85, 98, 0.85);
    padding: 5px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px #022b31;
}

.header-logo {
    border-radius: 100%;
}

.header-title-container {
    margin: auto 5px;
    padding: 0;
}

.header-title {
    color: #e8ded2;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    font-weight: 100;
    margin: auto;
    padding-top: 10px;
}

#navi {
    background: rgba(5, 107, 122, 0.85);
    padding: 5px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 3px 3px #045562;
}

li.nav-item {
    background-color: #045562;
    border-radius: 4px;
    margin: 5px 5px;
}

li.nav-item:hover {
    background-color: #022b31;
    cursor: pointer;
} 

a.nav-link {
    padding: 5px;
    color: #a3d2ca;
}

#main-body {
    padding: 3% 5%;
}

.super-title {
    font-size: 3em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

.adam {
    font-family: 'Amatic SC', cursive;
    font-size: 3.5em;
    text-shadow: 3px 3px #045562;
}

.blog-card {
    background: rgba(4, 85, 98, 0.85);
    border-radius: 4px;
    box-shadow: 2px 3px 3px #045562;
    color: #f6f3ee;
    height: 85%;
    margin: 2%;
    padding: 15px;
}

.fas {
    color: #e8ded2;
    padding: 10px 0;
}

.blog-card-title {
    font-weight: bold;
    text-decoration: underline;
}

.blog-card-text {
    font-weight: 300;
    height: 150px;
    overflow: auto;
    margin-bottom: 0;
}

.blog-card-link {
    padding: 5px 10px;
    background-color: #034049;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #022b31;
    color: #a3d2ca;
}

hr {
    border-color: #e8ded2;
    border-width: 2px;
    width: 15%;
}

.blog-post {
    padding: 7% 10%;;
}

.blog-paragraph {
    margin-top: 25px;
}

.strike {
    text-decoration: line-through;
}